.buttons {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

button {
  font-size: 25px; 
  padding: 10px;
  border-radius: 10px;
  border-width: 5px;
  font-family: "Montserrat";
  border-color: #130E01;
  color: 130E01;
  
}

#button1 {
  background-color: #438ADB;
}

#button2 {
  background-color: #FCE2C5;
}

#button3 {
  background-color: #A0A2A7;
}

.intro {
  text-align: center; 
  margin-bottom: 70px;
  font-family: "Helvetica";
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 15px;
}

#content {
     position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
